@font-face {
    src: url(../resources/Kbfunhouse-K8Bo.ttf);
    font-family: 'Kbfunhouse';
    src: url(../resources/Crazy\ Jazzy.ttf);
    font-family: 'Crazy Jazzy';
}
*{
    border-sizing: border-box;
    padding: 0;
    margin: 0;    
}

.mansalva-regular {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.anton-sc-regular {
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../resources/tree.gif');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}
.container{
    font-family: 'Mansalva';
    font-size: 30px;
    width: 800px;
    max-width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px);
    padding: 10px;
}
input{
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
#submit{
    font-family: 'Anton SC';
    border: none;
    background-color: rgb(173, 136, 198);
    color: white;
    font-size: 20px;
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
}
#submit:hover{
    background-color:rgb(116, 105, 182) ;
}

#reset{
    font-family: 'Anton SC';
    border: none;
    background-color: rgb(173, 136, 198);
    color: white;
    font-size: 20px;
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
}
#reset:hover{
    background-color: rgb(116, 105, 182);
}